[Unit]
Description=GXP CHIF Service
After=dbus.service dev-chif24.device
Requires=dbus.service
BindsTo=dev-chif24.device

[Service]
ExecStart=/usr/bin/chif
Restart=on-failure
RestartSec=5
Type=dbus
BusName=xyz.openbmc_project.GxpChif
StateDirectory=smbios

# Security hardening
ProtectSystem=strict
ProtectHome=yes
DeviceAllow=/dev/chif24 rw
PrivateTmp=yes
NoNewPrivileges=yes
ProtectKernelTunables=yes
ProtectKernelModules=yes
ProtectControlGroups=yes
RestrictAddressFamilies=AF_UNIX
SystemCallFilter=@system-service

[Install]
WantedBy=multi-user.target
